In [2]:
import pandas as pd
import numpy as np
import scipy.stats as st

df = pd.read_csv('AI_Resume_Screening.csv')
df

,Resume_ID,Name,Skills,Experience (Years),Education,Certifications,Job Role,Recruiter Decision,Salary Expectation ($),Projects Count,AI Score (0-100)
0,1,Ashley Ali,"TensorFlow, NLP, Pytorch",10,B.Sc,NaN,AI Researcher,Hire,104895,8,100
1,2,Wesley Roman,"Deep Learning, Machine Learning, Python, SQL",10,MBA,Google ML,Data Scientist,Hire,113002,1,100
2,3,Corey Sanchez,"Ethical Hacking, Cybersecurity, Linux",1,MBA,Deep Learning Specialization,Cybersecurity Analyst,Hire,71766,7,70
3,4,Elizabeth Carney,"Python, Pytorch, TensorFlow",7,B.Tech,AWS Certified,AI Researcher,Hire,46848,0,95
4,5,Julie Hill,"SQL, React, Java",4,PhD,NaN,Software Engineer,Hire,87441,9,100
...,...,...,...,...,...,...,...,...,...,...,...
995,996,Brenda Williams,"Cybersecurity, Linux, Ethical Hacking",0,B.Sc,NaN,Cybersecurity Analyst,Reject,114364,9,60
996,997,Colleen Hicks,"Deep Learning, Machine Learning",0,MBA,Deep Learning Specialization,Data Scientist,Reject,103294,5,45
997,998,Michelle Molina,"TensorFlow, NLP",0,B.Tech,Google ML,AI Researcher,Hire,113855,9,65
998,999,Danielle Horn,"Linux, Networking, Cybersecurity, Ethical Hacking",8,PhD,AWS Certified,Cybersecurity Analyst,Hire,83146,10,100
999,1000,Chad Collins,"SQL, Machine Learning, Python, Deep Learning",7,M.Tech,Deep Learning Specialization,Data Scientist,Hire,119474,3,100

In [3]:
# descriptive Analysis

df.describe(include= 'all')
print('Missing Value', df.isnull().sum())

Missing Value Resume_ID                   0
Name                        0
Skills                      0
Experience (Years)          0
Education                   0
Certifications            274
Job Role                    0
Recruiter Decision          0
Salary Expectation ($)      0
Projects Count              0
AI Score (0-100)            0
dtype: int64

In [4]:
df['Certifications'].fillna(0)

0                                 0
1                         Google ML
2      Deep Learning Specialization
3                     AWS Certified
4                                 0
                   ...
995                               0
996    Deep Learning Specialization
997                       Google ML
998                   AWS Certified
999    Deep Learning Specialization
Name: Certifications, Length: 1000, dtype: object

In [5]:
# Average Score by Category (Eduaction)
avg_Score_by_edu = df.groupby('Education')['AI Score (0-100)'].mean()
print('Average Score by Education',avg_Score_by_edu)

Average Score by Education Education
B.Sc      84.365854
B.Tech    84.625000
M.Tech    83.964646
MBA       83.267327
PhD       83.512821
Name: AI Score (0-100), dtype: float64

In [6]:
#T - test: cerficate and without certificate
has_cert = df[df['Certifications'].notna()]['AI Score (0-100)']
no_cert = df[df['Certifications'].isna()]['AI Score (0-100)']

t_stats, p_val = st.ttest_ind(has_cert, no_cert, equal_var= False, nan_policy='omit')
print(f"T-test: t={t_stats:.2f}, p_val={p_val:.2f}")

T-test: t=3.22, p_val=0.00

In [7]:
# Correlation Analysis
corr = df['Experience (Years)'].corr(df['AI Score (0-100)'])
print('Correlation Between Experince And AI Score',corr)

Correlation Between Experince And AI Score 0.777041788268522

In [8]:
# Numpy Calculation
AI_array = df['AI Score (0-100)'].values

AI_Score = np.mean(AI_array)
print(AI_Score)

83.95